.data-container {
  padding: 16px;
  height: 72px;
  background-color: rgb(249 250 251);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  &-info-container {
    display: flex;
    column-gap: 12px;
    align-items: center;
    .icon-container {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e5e7eb;
      border-radius: 50%;
    }
    &-data {
      display: flex;
      column-gap: 4px;
      align-items: center;
      img {
        filter: invert(52%) sepia(98%) saturate(372%) hue-rotate(109deg)
          brightness(91%) contrast(95%);
      }
      .yellow {
        filter: invert(69%) sepia(57%) saturate(2381%) hue-rotate(355deg)
          brightness(97%) contrast(97%);
      }
    }
    .title {
      font-size: 16px;
      color: #475569;
    }
    .subtitle {
      font-size: 14px;
      color: #47556999;
    }
  }
  img {
    width: 20px;
    height: 20px;
  }
}
