<div class="players-container">
  <div class="players-container-header">
    <div>
      <h1 class="players-container-header-title">Teams</h1>
      <h3 class="players-container-header-subtitle">
        Manage your academy teams
      </h3>
    </div>
    <button class="players-container-header-control" (click)="openDialog()">
      <img src="./assets/add-player-icon.svg" alt="icon" />
      <span>Add team</span>
    </button>
  </div>
  <div class="players-container-search">
    <img src="./assets/search-icon.svg" alt="icon" />
    <input
      type="text"
      placeholder="Search teams..."
      [value]="searchQuery()"
      (input)="updateSearch($event)"
    />
  </div>
  <div class="players-container-cards-container">
    @for (item of filteredTeams(); track $index) {
   <app-team-card [item]="item"></app-team-card>
    }
  </div>
</div>

@if (isDialogVisible) {
<div class="dialog-overlay" (click)="closeDialog()">
  <dialog open class="player-dialog" (click)="$event.stopPropagation()">
    <div class="dialog-container">
      <div class="dialog-header">
        <h2>Add New Team</h2>
        <button type="button" class="close-button" (click)="closeDialog()">
          ×
        </button>
      </div>

      <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
        <div class="form-container">
          <div class="form-field">
            <label for="name">Team Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              placeholder="FCB under 18"
            />
            @if (shouldShowError('name', 'required')) {
            <div class="error-message">Team name is required</div>
            }
          </div>

        </div>

        <div class="form-actions">
          <button
            type="submit"
            class="add-button"
            [disabled]="!teamForm.valid"
          >
            Add Team
          </button>
        </div>
      </form>
    </div>
  </dialog>
</div>
}
